{% extends "layout.html.twig" %}
{% block head %}
    <title> {% block title %}{{ parent () }}-Forum{% endblock %}</title>
{% endblock %}
    {% block stylesheet %}
        <link rel="stylesheet" herf="{{ asset('css/style1good.css') }}" />

    {% endblock %}



    {% block content %}
        <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Data Table</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Adress</th>
                                        <th>Email</th>
                                        <th>phone</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for e in User %}
                                        <tr>
                                            <td>{{ e.id }}</td>
                                            <td>{{ e.name }}</td>
                                            <td>{{ e.adress }}</td>
                                            <td>{{ e.email }}</td>
                                            <td>{{ e.tel }}</td>
                                            <td> <a href="{{path('Stage_SupprimerUser',{ 'id':e.id} )}}">supprimer</a> </td>
                                        </tr>


                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


{% endblock%}