{% extends "layout.html.twig" %}

{% block content %}
    <h1>Server</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ server.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ server.url }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ server.mdp }}</td>
            </tr>
            <tr>
                <th>Port</th>
                <td>{{ server.port }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('*_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('*_edit', { 'id': server.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
